@model IEnumerable<MyFirstAPI.Models.T_USER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APIKEY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.APELLIDO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TELEFONO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIRECION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.APIKEY)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CODIGO }) |
        @Html.ActionLink("Details", "Details", new { id = item.CODIGO }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CODIGO })
    </td>
</tr>
}

</table>
